{% extends 'base.html.twig' %}

{% block title %}Matiere
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Matiere</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ forum.id }}</td>
				</tr>
				<tr>
					<th>Libelle</th>
					<td>{{ forum.libelle }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('forum_index') }}" class="btn btn-secondary">Liste de sieges</a>
		<a href="{{ path('forum_edition', {'id': forum.id}) }}" class="btn btn-secondary">Modifier</a>

		{{ include('forum/forum/_delete_form.html.twig') }}
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
