{% extends 'base.html.twig' %}

{% block title %}Exercice
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Exercice</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ exercice.id }}</td>
				</tr>
				<tr>
					<th>Libelle</th>
					<td>{{ exercice.libelle }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('exercice_index') }}" class="btn btn-secondary">Liste de sieges</a>

		<a href="{{ path('exercice_edition', {'id': exercice.id}) }}" class="btn btn-secondary">Modifier</a>

		{{ include('pedagogie/exercice/_delete_form.html.twig') }}
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
