{% extends 'base.html.twig' %}

{% block title %}Hello professeurController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap">Id</th>
                <th class="text-nowrap">photo</th>
                <th class="text-nowrap">Identité</th>
                <th class="text-nowrap">E-mail</th>
                <th class="text-nowrap">Pole</th>
                <th class="text-nowrap">Poste</th>
                <th class="text-nowrap">Enseigne</th>
                <th class="text-nowrap">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for professeur in professeurs %}
                <tr>
                    <td class="text-nowrap">{{professeur.id}}</td>
                    <td class="text-nowrap">
                        {% if professeur.imageName | length >0 %}
                        <img src="{{ vich_uploader_asset(professeur, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ professeur.prenom }} {{ professeur.nom }}">
                        {% else %}
                        Pas de photo pour {{ professeur.prenom }} {{ professeur.nom }}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ professeur.prenom }} {{ professeur.nom }}</td>
                    <td class="text-nowrap">{{ professeur.email }}</td>
                    <td class="text-nowrap">
                        {% if professeur.poles | length > 0%}
                            {% for poles in professeur.poles %}
                                <li>{{ poles.libelle }}</li>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">{{ professeur.poste}}</td>
                    <td class="text-nowrap">
                        {% if matierePromotionsParProfesseur[professeur.id] is defined %}
                            {% for matiere, promotions in matierePromotionsParProfesseur[professeur.id] %}
                                {{ matiere }}
                                <ul>
                                    {% for promotion in promotions %}
                                        <li>{{ promotion }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="text-nowrap">
                        <a href="{{ path('professeur_affichage', {'id': professeur.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('professeur_edition', {'id': professeur.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>9
    </table>
    <a href="{{ path('professeur_nouveau') }}" class="btn" >Creer Nouveau professeur</a>
{% endblock %}
