{% extends 'base.html.twig' %}

{% block title %}Hello parentEleveController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>E-mail</th>
                <th>password</th>
                <th>role</th>
                <th>Eleve</th>
                <th>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for parentEleve in parentEleves %}
                <tr>
                    <td>{{parentEleve.id}}</td>
                    <td>
                        <img src="{{ vich_uploader_asset(parentEleve, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="...">
                    </td>
                    <td>{{ parentEleve.nom }}</td>
                    <td>{{ parentEleve.prenom }}</td>
                    <td>{{ parentEleve.email }}</td>
                    <td>{{ parentEleve.password }}</td>
                    <td>
                        {% for role in parentEleve.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for eleve in parentEleve.eleves %}
                           <li>{{ eleve.nom }}</li>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('parentEleve_affichage', {'id': parentEleve.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('parentEleve_edition', {'id': parentEleve.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('parentEleve_nouveau') }}" class="btn" >Creer Nouveau parentEleve</a>
{% endblock %}
