{% extends 'base.html.twig' %}

{% block title %}categorieOuvrage
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Entree</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ categorieOuvrage.id }}</td>
				</tr>
				<tr>
					<th>Libelle</th>
					<td>{{ categorieOuvrage.libelle }}</td>
				</tr>
			</tr>
			</tbody>
		</table>

		<a href="{{ path('categorieOuvrage_index') }}" class="btn btn-secondary">Liste de sieges</a>

		<a href="{{ path('categorieOuvrage_edition', {'id': categorieOuvrage.id}) }}" class="btn btn-secondary">Modifier</a>

		{{ include('CDI/categorie_ouvrage/_delete_form.html.twig') }}
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
