{% extends 'base.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap">Id</th>
                <th class="text-nowrap">Photo</th>
                <th class="text-nowrap">Identité</th>
                <th class="text-nowrap">Username</th>
                <th class="text-nowrap">E-mail</th>
                <th class="text-nowrap">Jeton-Repas</th>
                <th class="text-nowrap">Action</td>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
                <tr>
                    <td>{{membre.id}}</td>
                    <td>
                        {% if membre.imageName | length >0 %}
                        <img src="{{ vich_uploader_asset(membre, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ membre.prenom }} {{ membre.nom }}">
                        {% else %}
                        Pas de photo pour {{ membre.prenom }} {{ membre.nom }}
                        {% endif %}
                    </td>
                    <td>{{membre.prenom}} {{membre.nom}}</td>
                    <td></td>
                    <td>{{ membre.username }}</td>

                    <td>{{ membre.email}}</td>
                    <td>
                        {% if membre.membreJetons.nombreJeton > 0 %}
                            {{ membre.membreJetons.nombreJeton }}
                        {% else %}
                        Jetons épuisés
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('membre_affichage', {'id': membre.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('membre_edition', {'id': membre.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('membre_nouveau') }}" class="btn" >Creer Nouveau membre</a>
{% endblock %}
