{% extends 'base.html.twig' %}

{% block title %}Hello legumeController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>menu</th>
                <th>date</th>
                <th>heure</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for repas in repass %}
                <tr>
                    <td>{{repas.id}}</td>
                    <td>
                       <strong>Entrée :</strong>{{ repas.menu.entree.libelle}}<br>
                        <strong>Plat :</strong>{{ repas.menu.plat.libelle}}<br>
                        <strong>Fromage :</strong>{{ repas.menu.fromage.libelle}}<br>
                        <strong>Dessert :</strong>{{ repas.menu.dessert.libelle}}
                        </td>
                    <td>{{ repas.date | date('d/m/Y') }}</td>
                    <td>{{ repas.heure }}</td>
                    <td>
                        <a href="{{ path('repas_affichage', {'id': repas.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('repas_edition', {'id': repas.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('legume_nouveau') }}" class="btn" >Creer Nouveau legume</a>
{% endblock %}
