{% extends 'base.html.twig' %}

{% block title %}Hello boutiqueController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>libelle</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for boutique in boutiques %}
                <tr>
                    <td>{{boutique.id}}</td>
                    <td>{{ boutique.libelle }}</td>
                    <td>
                        <a href="{{ path('boutique_affichage', {'id': boutique.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('boutique_edition', {'id': boutique.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('boutique_nouveau') }}" class="btn" >Creer Nouveau boutique</a>
{% endblock %}
