{% extends 'base.html.twig' %}

{% block title %}Hello planningRepasController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>date d'achat</th>
                <th>Membre</th>
                <th>Repas</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for planningRepas in planningRepass %}
                <tr>
                    <td>{{planningRepas.id}}</td>
                    <td>{{ planningRepas.dateAchat | date('d/m/Y') }}</td>
                    <td>{{ planningRepas.membre.prenom}} {{ planningRepas.membre.nom}}</td>
                    <td>{{ planningRepas.repas.id}}</td>
                    <td>
                        <a href="{{ path('planningRepas_affichage', {'id': planningRepas.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('planningRepas_edition', {'id': planningRepas.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('planningRepas_nouveau') }}" class="btn" >Creer Nouveau planningRepas</a>
{% endblock %}
