{{ form_start(surveillantForm) }}

    <div class="row">
        <!-- Première ligne : Nom et Prénom -->
        <div class="col-sm-6">
            <label for="surveillant_Nom">Nom</label>
            {{ form_widget(surveillantForm.nom, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="surveillant_prenom">Prénom</label>
            {{ form_widget(surveillantForm.prenom, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
    </div>

    <div class="row">
        <!-- Deuxième ligne : Mot de passe et Image -->
        <div class="col-sm-6">
            <label for="surveillant_password">Mot de passe</label>
            {{ form_widget(surveillantForm.password, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
        <div class="col-sm-6">
            <label for="surveillant_image_file">Image</label>
            {{ form_widget(surveillantForm.imageFile, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
    </div>

    <div class="row">
        <!-- Troisième ligne : Date d'embauche et Téléphone bureau -->
        <div class="col-sm-6">
            <label for="date_embauche">Date d'embauche</label>
            <div class="row">
                {{ form_widget(surveillantForm.date_embauche.day, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
                {{ form_widget(surveillantForm.date_embauche.month, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
                {{ form_widget(surveillantForm.date_embauche.year, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
            </div>
        </div>
        <div class="col-sm-6">
            <label for="surveillant_poste">Téléphone bureau</label>
            {{ form_widget(surveillantForm.poste, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
    </div>
    <div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <label for="surveillant__form_pole">pôle</label>
            {{ form_widget(surveillantForm.pole, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
        <!-- Quatrième ligne : Jeton repas -->
        <div class="col-sm-12">
            <label for="surveillant_jeton_repas">Nombre de Jeton-repas</label>
            {{ form_widget(surveillantForm.jetonRepas, {'attr': {'style' :'width:auto;', 'class': 'form-select'}}) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>

{{ form_end(surveillantForm) }}
