{% extends 'base.html.twig' %}

{% block title %}Hello MembreController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Jeton-Repas</th>
                <th>Role</th>
                <th>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
                <tr>
                    <td>{{membre.id}}</td>
                    <td>
                        <img src="{{ vich_uploader_asset(membre, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="...">
                    </td>
                    <td>{{membre.nom}}</td>
                    <td>{{membre.prenom}}</td>
                    <td>{{ membre.username }}</td>

                    <td>{{ membre.email}}</td>
                    <td>{{ membre.jetonRepas}}
                    <td>
                        {% for role in membre.roles %}
                           <li>{{ role}}</li>
                        {% endfor %}
                    </td>
                                        <td>
                        <a href="{{ path('membre_affichage', {'id': membre.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('membre_edition', {'id': membre.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('membre_nouveau') }}" class="btn" >Creer Nouveau membre</a>
{% endblock %}
