{% extends 'base.html.twig' %}

{% block title %}Hello professeurController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Professeur</th>

            </tr>
        </thead>
        <tbody>
            {% for referent in referents %}
                <tr>
                    <td>{{referent.id}}</td>
                    <td>
                        <a href="{{ path('professeur_affichage', {'id': referent.professeur.id}) }}">
                            {{ referent.professeur.prenom }} {{referent.professeur.nom}}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('referent_affichage', {'id': referent.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('referent_edition', {'id': referent.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('referent_nouveau') }}" class="btn" >Creer Nouveau professeur</a>
{% endblock %}
