{% extends 'base.html.twig' %}

{% block title %}Hello adminController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>photo</th>
                <th>Identité</th>
                <th>E-mail</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for admin in admins %}
                <tr>
                    <td>{{admin.id}}</td>
                    <td>
                        {% if admin.imageName | length >0 %}
                            <img src="{{ vich_uploader_asset(admin, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ admin.prenom }} {{ admin.nom }}">
                        {% else %}
                            Pas de photo pour {{ admin.prenom }} {{ admin.nom }}
                        {% endif %}
                    </td>
                    <td>{{ admin.prenom }} {{ admin.nom }}</td>
                    <td>{{ admin.email }}</td>
                    <td>
                        <a href="{{ path('admin_affichage', {'id': admin.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('admin_edition', {'id': admin.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin_nouveau') }}" class="btn" >Creer Nouveau admin</a>
{% endblock %}
