{% extends 'base.html.twig' %}

{% block title %}Hello directionController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap">Id</th>
                <th class="text-nowrap">photo</th>
                <th class="text-nowrap">Identité</th>
                <th class="text-nowrap">E-mail</th>
                <th class="text-nowrap">Poste</th>
                <th class="text-nowrap">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for direction in directions %}
                <tr>
                    <td>{{direction.id}}</td>
                    <td>
                        {% if direction.imageName | length >0 %}
                        <img src="{{ vich_uploader_asset(direction, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ direction.prenom }} {{ direction.nom }}">
                        {% else %}
                        Pas de photo pour {{ direction.prenom }} {{ direction.nom }}
                        {% endif %}
                    </td>
                    <td>{{ direction.prenom }} {{ direction.nom }}</td>
                    <td>{{ direction.email }}</td>
                    <td>{{ direction.poste}}</td>
                    <td class="text-nowrap">
                        <a href="{{ path('direction_affichage', {'id': direction.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('direction_edition', {'id': direction.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('direction_nouveau') }}" class="btn" >Creer Nouveau direction</a>
{% endblock %}
