{% extends 'base.html.twig' %}

{% block title %}Hello professionnelController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap">Id</th>
                <th class="text-nowrap">Entreprise</th>
                <th class="text-nowrap">Prenom</th>
                <th class="text-nowrap">Nom</th>
                <th class="text-nowrap">Telephone</th>
                <th class="text-nowrap">E-mail</th>
                <th class="text-nowrap">Profession</th>
                <th class="text-nowrap">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for professionnel in professionnels %}
                <tr>
                    <td>{{ professionnel.id }}</td>
                    <td>{{ professionnel.entreprise.libelle }}</td>
                    <td>{{ professionnel.nom }}</td>
                    <td>{{ professionnel.prenom }}</td>
                    <td>{{ professionnel.telephone }}</td>
                    <td>{{ professionnel.email }}</td>
                    <td>{{ professionnel.profession }}</td>
                    <td>
                        <a href="{{ path('professionnel_affichage', {'id': professionnel.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('professionnel_edition', {'id': professionnel.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('professionnel_nouveau') }}" class="btn" >Creer Nouveau professionnel</a>
{% endblock %}
