    {{ form_start(messageForm) }}
        <div class="form-group align-center">
            <div class="col-sm-4">
                <label for="ajax">Destinataire</label>
                {{ form_widget(messageForm.ajax) }}
            </div>
   <div id="testeur"></div>
            <div class="col-sm-4">
                <label for="sujet">Sujet du message</label>
                {{ form_widget(messageForm.sujet) }}
            </div>
            <div class="col-sm-4">
                <label for="contenu">Contenu du message</label>
                {{ form_widget(messageForm.contenu) }}
            </div>
            
            <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button>
            <br><br>
            {{ form_end(messageForm) }}
        </div>
     
<script>
        let testeur=document.getElementById("testeur")
        let qui=document.getElementById("messagerie_ajax")
        let quoi=document.getElementById("messagerie.destinataire")
        qui.addEventListener('input', action);
        

        async function action(e){
            testeur.innerText="";
            let value=e.target.value
            if (value.length>=2){
                let url =`/membre/qui/${value}`
                let response =await fetch(url)
                let data =await response.json()
                console.log(data)
                for(let i=0;i<data.length;i++){
                    let gars=data[i].qui
                    let garce=data[i].id
                    let liste=document.querySelectorAll(".name")
                    let existe=false
                    for (let j = 0; j < liste.length; j++) {
                        if (liste[j].innerText === gars) {
                            existe = true;
                            break;
                        }
                    }
                    if (!existe) {
                        let names = document.createElement("div");
                        testeur.appendChild(names);
                        console.log(liste)
                        names.classList.add("name");
                        names.style.border = "1px solid black";
                        names.style.padding = "15px";
                        names.innerText = gars;
                        names.addEventListener("click", function() {
                            qui.value = gars;
                            console.log("qui", qui)
                            console.log("quoi", quoi)
                            quoi.value=garce;   
                            testeur.innerText = "";
                        });
                    }
                }
            }
        }
</script>
