{% extends 'base.html.twig' %}

{% block title %}Hello entreeController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entree in entrees %}
                <tr>
                    <td>{{entree.id}}</td>
                    <td>{{ entree.libelle }}</td>
                    <td>
                        <a href="{{ path('entree_affichage', {'id': entree.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('entree_edition', {'id': entree.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('entree_nouveau') }}" class="btn" >Creer Nouveau entree</a>
{% endblock %}
