

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Accueil -->
    <a class="navbar-brand" href="{{ path('accueil') }}">ACCUEIL</a>
      <div class="navbar-nav">
      <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cuisine
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Repas</a>
              <ul class="dropdown-submenu">
                <li><a class="dropdown-item" href="{{ path('repas_index') }}">Repas</a></li>
                <li><a class="dropdown-item" href="{{ path('menu_index') }}">Menu</a></li>
                <li><a class="dropdown-item" href="{{ path('entree_index') }}">Entrée</a></li>
                <li><a class="dropdown-item" href="{{ path('plat_index') }}">Plat</a></li>
                  <ul class="dropdown-submenu">
                    <li><a class="dropdown-item" href="{{ path('viande_index') }}">Viande</a></li>
                    <li><a class="dropdown-item" href="{{ path('legume_index') }}">Légume</a></li>
                  </ul>
                <li><a class="dropdown-item" href="{{ path('fromage_index') }}">Fromage</a></li>
                <li><a class="dropdown-item" href="{{ path('dessert_index') }}">Dessert</a></li>
              </ul>
          </li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Documentaliste</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('documentaliste_index') }}">Documentaliste</a></li>
              <li><a class="dropdown-item" href="{{ path('ouvrage_index') }}">Ouvrage</a></li>
              <li><a class="dropdown-item" href="{{ path('emprunt_index') }}">Emprunt</a></li>
            </ul>
          </li>
          <li><a class="dropdown-item" href="#">Pedagogie</a></li>
          <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Eleve</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('eleve_index') }}">Eleve</a></li>
              <li><a class="dropdown-item" href="{{ path('promotion_index') }}">Promotion</a></li>
              <li><a class="dropdown-item" href="{{ path('professeur_index') }}">Professeur</a></li>
              <li><a class="dropdown-item" href="{{ path('matiere_index') }}">Matière</a></li>
              <li><a class="dropdown-item" href="{{ path('programme_index') }}">Programme</a></li>
              <li><a class="dropdown-item" href="{{ path('secretariat_index') }}">Secretariat</a></li>
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#">Direction</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{ path('direction_index') }}">Direction</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="{{ path('surveillant_index') }}">Surveillant</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    {#
      <!-- Forum -->
      <a class="nav-link" href="{{ path('forum_index') }}">Forum</a>
    #}
    <!-- Connexion ou nom d'utilisateur -->
    <div class="d-flex">
      {% if app.user %}
        <a href="{{ path('membre_affichage', {'id': app.user.id }) }}">
          <span class="navbar-text me-2">{{ app.user.username }}</span>
        </a>
        <a href="{{ path('app_logout') }}">
          <img src="_images/connexion/logout.png" height="100%" alt="Logout">
        </a>
      {% else %}
        <a href="{{ path('app_login') }}">
          <img src="_images/connexion/login.png" height="100%" alt="Login">
        </a>
      {% endif %}
    </div>
  </div>
</nav>
