<nav class="navbar navbar-expand-lg navbar-dark  bg-secondary">
    <div class="collapse navbar-collapse" id="navbarScroll">
	    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
			<li class="nav-item">
				<a href="{{ path('accueil') }}" class="navbar-brand">
                    ACCUEIL
                </a>
            </li>
			<li class="nav-item">
				<a href="{{ path('admin_index') }}" class="navbar-brand">
                    admin
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('cuisine_index') }}" class="navbar-brand">
                    Cuisine
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('direction_index') }}" class="navbar-brand">
                    Direction
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('documentaliste_index') }}" class="navbar-brand">
                    Documentaliste
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('eleve_index') }}" class="navbar-brand">
                    Eleve
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('emprunt_index') }}" class="navbar-brand">
                    Emprunt
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('matiere_index') }}" class="navbar-brand">
                    Matiere
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('membre_index') }}" class="navbar-brand">
                    Membre
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('message_index') }}" class="navbar-brand">
                    Message
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('professeur_index') }}" class="navbar-brand">
                    Professeur
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('promotion_index') }}" class="navbar-brand">
                    Promotion
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('programme_index') }}" class="navbar-brand">
                    Programme
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('referent_index') }}" class="navbar-brand">
                    Referent
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('secretariat_index') }}" class="navbar-brand">
                    Secretaria
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('surveillant_index') }}" class="navbar-brand">
                    surveillant
                </a>
            </li>              
        </ul>
    </div>
</nav>


    {#<div>        <a href="{{ path('adultes_index') }}" class="navbar-brand">            Adultes        </a>    </div>#}
    {#<div>        <a href="{{ path('emprunt_index') }}" class="btn btn-secondary">            Emprunt        </a>    </div>#}
    {#<div>        <a href="{{ path('exercice_index') }}" class="btn btn-secondary">            exercice        </a>    </div>#}
    {#<div>        <a href="{{ path('ouvrages_index') }}" class="btn btn-secondary">            ouvrages        </a>    </div>#}
    {#<div>        <a href="{{ path('parent_eleve_index') }}" class="btn btn-secondary">            ParentEleve        </a>    </div>#}
    {#<div>        <a href="{{ path('personnel_index') }}" class="btn btn-secondary">            Personnel        </a>    </div>#}
    {#<div>        <a href="{{ path('remplir_exo_index') }}" class="btn btn-secondary">            RemplirExo        </a>    </div>#}
    