{% extends 'base.html.twig' %}

{% block title %}Hello repasController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Categorie</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for repas in repass %}
                <tr>
                    <td>{{repas.id}}</td>
                    <td>{{ repas.titre }}</td>
                    <td>{{repas.categorie }}</td>
                    <td>{{ repas.statut }}</td>
                    <td>
                        <a href="{{ path('repas_affichage', {'id': repas.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('repas_edition', {'id': repas.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('repas_nouveau') }}" class="btn" >Creer Nouveau repas</a>
{% endblock %}
