{% extends 'base.html.twig' %}

{% block title %}Hello repasController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date d'achat</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Menu</th>
                <th>Membre</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for repas in repass %}
                <tr>
                    <td>{{repas.id}}</td>
                    <td>{{ repas.dateAchat | date('d/m/Y')}}</td>
                    <td>{{repas.date | date('d/m/Y')}}</td>
                    <td>{{ repas.heure }}</td>
                    <td>{{ repas.menu.id }}</td>
                    <td>{{ repas.membre.prenom }} {{ repas.membre.nom }}</td>
                    <td>{{ repas.prix }}</td>
                    <td>
                        <a href="{{ path('repas_affichage', {'id': repas.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('repas_edition', {'id': repas.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('repas_nouveau') }}" class="btn" >Creer Nouveau repas</a>
{% endblock %}
