{% extends 'base.html.twig' %}

{% block title %}Hello surveillantController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-nowrap">Id</th>
                <th class="text-nowrap">photo</th>
                <th class="text-nowrap">Identité</th>
                <th class="text-nowrap">E-mail</th>
                <th class="text-nowrap">Poste</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for surveillant in surveillants %}
                <tr>
                    <td>{{surveillant.id}}</td>
                    <td>
                        {% if surveillant.imageName | length >0 %}
                        <img src="{{ vich_uploader_asset(surveillant, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="{{ surveillant.prenom }} {{ surveillant.nom }}">
                        {% else %}
                        Pas de photo pour {{ surveillant.prenom }} {{ surveillant.nom }}
                        {% endif %}
                    </td>
                    <td>{{ surveillant.prenom }} {{ surveillant.nom }}</td>
                    <td>{{ surveillant.email }}</td>
                    <td>{{ surveillant.poste }}</td>
                    <td>
                        <a href="{{ path('surveillant_affichage', {'id': surveillant.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('surveillant_edition', {'id': surveillant.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('surveillant_nouveau') }}" class="btn" >Creer Nouveau surveillant</a>
{% endblock %}
