{% extends 'base.html.twig' %}
{% block title %}Hello ouvrageController!{% endblock %}
{% block body %}
<style>
.rose {
  background: radial-gradient(circle, #FFFFFF 20%, #FFDDDD 50%, #FF9999 75%, #FF6666);
}
    .rouge{
  background: radial-gradient(circle, #FFFFFF 20%, #FFAAAA 50%, #FF5555 75%, #FF0000);
    }
.vert {
  background: radial-gradient(circle, #FFFFFF 20%, #AAFFAA 50%, #55FF55 75%, #00FF00);
}
.card {
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    padding: 15px; 
    display: flex; 
    flex-direction: column; 
    height: auto; 
    margin-left:20px;

.card h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: normal;
}
</style>

    {% for statutLibelle, ouvrages in groupedByStatut %}
        <h3>{{ statutLibelle }}</h3>
            <div class="row">
            {% for ouvrage in ouvrages %}
                <div class="col-sm-2 card" id="{{ouvrage.id}}" data-statut="{{ouvrage.statutOuvrage.id}}">
                    <h3>{{ ouvrage.titre }}</h1>
                    <h5>
                        {% if ouvrage.auteurs | length > 0 %}
                            {% for auteur in ouvrage.auteurs %}
                                <u>{{ auteur.prenom }} {{ auteur.nom }}</u>
                            {% endfor %}
                        {% endif %}
                    </h5>
                    <details>
                        <summary>
                            Genre
                        </summary>
                        {% for categorieOuvrage in ouvrage.categorieOuvrages %}
                            <li>{{categorieOuvrage.libelle }}</li>
                        {% endfor %}
                    </details>
                        {% if ouvrage.statutOuvrage.id == 3 %}
                            <a href="{{ path('emprunt_demande', {'id': ouvrage.id}) }}" class="btn btn-secondary">Demander emprunt</a>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        let card=document.querySelectorAll(".card")
        console.log("CARD", card)
        for(let i=0; i<=card.length-1;i++){
            if(card[i].dataset.statut==3){
                card[i].classList.add("vert")
            } else if (card[i].dataset.statut==4){
                card[i].classList.add("rose")
            } else if (card[i].dataset.statut==5){
                card[i].classList.add("rouge")
            }
        }
    })
    </script>
{% endblock %}
