{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th>Forum</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{categorie.id}}</td>
                    
                    <td>
                        <a href="{{ path('categorie_affichage', {'id': categorie.id}) }}">
                            {{ categorie.libelle }}
                        </a>
                    </td>
                    <td>{{  categorie.forum.libelle }}</td>
                    <td>
                        <a href="{{ path('categorie_affichage', {'id': categorie.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('categorie_edition', {'id': categorie.id}) }}" class="btn btn-secondary">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('categorie_nouveau') }}" class="btn" >Creer Nouvel admin</a>
{% endblock %}
