<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href="{{ path('root_accueil') }}">Accueil</a></li>
        <li>
            <a class='dropdown-arrow' href='{{path('documentaliste_index')}}'>CDI</a>
            <ul class='sub-menus'>
                <li><a href='{{path('ouvrage_catalogue')}}'>Catalogue du CDI</a></li>
                <li><a href='{{path('emprunt_mesEmprunts')}}'>Mes Emprunts</a></li>
            </ul>
        </li>
		<li>
		    <a class='dropdown-arrow' href='#'>Repas</a>
           	<ul class='sub-menus'>
                <li><a href='{{path('reservationRepas_index')}}'>Réservations</a></li>
                <li><a href='{{path('reservationRepas_mesReservations')}}'>Mes réservations</a></li>
				<li><a href='{{path('repas_listeRepas')}}'>Liste des repas</a></li>
				<li><a href='{{path('repas_index')}}'>Index des repas</a></li>
        	</ul>
        </li>
        <li>
		    <a class='dropdown-arrow' href='#'>Menus</a>
			<ul class="sub-menus">
				<li><a href='{{ path('entree_index') }}'>Entrée</a></li>
				<li><a href='{{ path('viande_index') }}'>Viande</a></li>
				<li><a href='{{ path('legume_index') }}'>Légume</a></li>
				<li><a href='{{ path('plat_index') }}'>Plat</a></li>
				<li><a href='{{ path('fromage_index') }}'>Fromage</a></li>
				<li><a href='{{ path('dessert_index') }}'>Dessert</a></li>
				<li><a href='{{ path('menu_index') }}'>Liste des Menu</a></li>
				<li><a href="{{ path('menu_nouveau')}}">Création de menus</a></li>
			</ul>
		</li>
        <li><a href='{{path('forum_index')}}'>Forum</a></li>
		<li>
			<a class='dropdown-arrow' href="#">Boutique</a>
			<ul class="sub-menus">
				<li><a href="{{path('boutique_liste')}}">liste des Produit</a></li>
				<li><a href="{{path('commande_mesCommande')}}">mes Achats</a></li>
			</ul>
		</li>
		<li>
			<a class='dropdown-arrow' href="#">{{ app.user.username }}</a>
			<ul class='sub-menus'>	
				<li><a href="{{ path('membre_affichage', {'id': app.user.id }) }}">Mon Profil</a></li>
				<li><a href='{{ path('messagePrive_messagerie')}}'>Messagerie</a></li>
				<li><a href="{{ path('app_logout') }}">Se déconnecter</a></li> 
			</ul>
		</li>
	</ul>
</nav>