<style>
#menu {
	background: #0099CC;
	background: linear-gradient(to bottom,  #000101,  #1E5A13);
	height: 45px;
	border-radius: 16px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 19px;
	text-transform: capitalize;
}
#menu a.dropdown-arrow:after {
	content: "\2B9F";
	margin-left: 5px;
}
#menu li a:hover {
	color: #400C06;
	background: #147C37;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #9A9A9A;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #082916;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #1B550A;
	color: #EBEBEB;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#9A9A9A;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}
</style>


<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href="{{ path('root_accueil') }}">Accueil</a></li>
        <li>
            <a class='dropdown-arrow' href='{{path('documentaliste_index')}}'>CDI</a>
            <ul class='sub-menus'>
                <li><a href='{{path('ouvrage_catalogue')}}'>Catalogue du CDI</a></li>
                <li><a href='{{path('emprunt_mesEmprunts')}}'>Mes Emprunts</a></li>
            </ul>
        </li>
		<li>
		    <a class='dropdown-arrow' href='#'>Repas</a>
           	<ul class='sub-menus'>
                <li><a href='{{path('reservationRepas_index')}}'>Réservations</a></li>
                <li><a href='{{path('reservationRepas_mesReservations')}}'>Mes réservations</a></li>
				<li><a href='{{path('repas_listeRepas')}}'>Liste des repas</a></li>
				<li><a href='{{path('repas_index')}}'>Index des repas</a></li>
        	</ul>
        </li>
        <li>
		    <a class='dropdown-arrow' href='#'>Menus</a>
			<ul class="sub-menus">
				<li><a href='{{ path('entree_index') }}'>Entrée</a></li>
				<li><a href='{{ path('viande_index') }}'>Viande</a></li>
				<li><a href='{{ path('legume_index') }}'>Légume</a></li>
				<li><a href='{{ path('plat_index') }}'>Plat</a></li>
				<li><a href='{{ path('fromage_index') }}'>Fromage</a></li>
				<li><a href='{{ path('dessert_index') }}'>Dessert</a></li>
				<li><a href='{{ path('menu_index') }}'>Liste des Menu</a></li>
				<li><a href="{{ path('menu_nouveau')}}">Création de menus</a></li>
			</ul>
		</li>
        <li><a href='{{path('forum_index')}}'>Forum</a></li>
		<li>
			<a href="#">Boutique</a>
			<ul class="sub-menus">
				<li><a href="{{path('boutique_liste')}}">liste des Produit</a></li>
				<li><a href="{{path('commande_mesCommande')}}">mes Achats</a></li>
			</ul>
		</li>
		<li>
			<a href="#">{{ app.user.username }}</a>
			<ul class='sub-menus'>	
				<li><a href="{{ path('membre_affichage', {'id': app.user.id }) }}">Mon Profil</a></li>
				<li><a href='{{ path('messagePrive_messagerie')}}'>Messagerie</a></li>
				<li><a href="{{ path('app_logout') }}">Se déconnecter</a></li> 
			</ul>
		</li>
	</ul>
</nav>


<script>
function updatemenu() {
  if (document.getElementById('responsive-menu').checked == true) {
    document.getElementById('menu').style.borderBottomRightRadius = '0';
    document.getElementById('menu').style.borderBottomLeftRadius = '0';
  }else{
    document.getElementById('menu').style.borderRadius = '10px';
  }
}
</script>