<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href="{{ path('root_accueil') }}">Accueil</a></li>
        <li>
            <a class='dropdown-arrow' href="{{ path('insertion_index') }}">Insertion</a>
            <ul class="sub-menus">
                <li><a href='{{path('entreprise_liste')}}'>idée d'entreprises</a></li>
                <li><a href='{{path('stage_index')}}'>Mes stages</a></li>
            </ul>
        </li>
        <li>
            <a class='dropdown-arrow' href="#">Cours</a>
            <ul class="sub-menus">
				{% if app.user.promotion | length >0 %}
						{% if app.user.promotion.programmes | length > 0 %}
						{% for prog in app.user.promotion.programmes %}
							<li><a href='{{path('cours_matPromo', {'matiere' :prog.matiere.id}) }}'>
								{{ prog.matiere.libelle}}
							</a></li>
						{% endfor %}
                {% else %}
                    Aucune Matière
                {% endif %}
			{% else %}
				Aucune Promotion
			{% endif %}
            </ul>
        </li>
        <li>
            <a class='dropdown-arrow' href="#">Exercices & Eval</a>
            <ul class="sub-menus">
				{% if app.user.promotion | length >0 %}
						{% if app.user.promotion.programmes | length > 0 %}
						{% for prog in app.user.promotion.programmes %}
							<li><a href='{{path('matiere_affichage', {'id' :prog.matiere.id}) }}'>
								{{ prog.matiere.libelle}}
							</a></li>
						{% endfor %}
                {% else %}
                    Aucune Matière
                {% endif %}
			{% else %}
				Aucune Promotion
			{% endif %}
            </ul>
        </li>    
        <li>
            <a class='dropdown-arrow' href='{{path('documentaliste_index')}}'>CDI</a>
            <ul class='sub-menus'>
                <li><a href='{{path('ouvrage_catalogue')}}'>Catalogue du CDI</a></li>
                <li><a href='{{path('emprunt_mesEmprunts')}}'>Mes Emprunts</a></li>
            </ul>
        </li>
        <li>
            <a class='dropdown-arrow' href="{{path('cuisine_index')}}">Cantine</a>
            <ul class="sub-menus">
                <li><a href='{{path('repas_listeRepas')}}'>Liste des repas</a></li>
                <li><a href='{{path('reservationRepas_mesReservations')}}'>Mes repas</a></li>
            </ul>
        <li><a href='{{path('forum_index')}}'>Forum</a></li>
		<li>
			<a class='dropdown-arrow' href="#">Boutique</a>
				<ul class="sub-menus">
					<li><a href="{{path('boutique_liste')}}">liste des Produit</a></li>
					<li><a href="{{path('commande_mesCommande')}}">mes Achats</a></li>
				</ul>
		</li>
		<li>
			<a class='dropdown-arrow' href="#">{{ app.user.username }}</a>
			<ul class='sub-menus'>	
				<li><a href="{{ path('membre_affichage', {'id': app.user.id }) }}">Mon Profil</a></li>
				<li><a href='{{path('messagePrive_messagerie')}}'>Messagerie</a></li>
				<li><a href="{{ path('app_logout') }}">Se déconnecter</a></li> 
			</ul>
		</li>
	</ul>
</nav>