<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href="{{ path('root_accueil') }}">Accueil</a></li>
        <li>
            <a href="{{path('cuisine_index')}}">Cantine</a>
            <ul class="sub-menus">
                <a href='{{path('repas_listeRepas')}}'>liste des repas</a></li>
                <li><a href='{{path('reservationRepas_mesReservations')}}'>Mes repas</a></li>
            </ul>
		</li>
        <li>
			<a class='dropdown-arrow' href="#">Gestion des Documents</a>
            <ul class="sub-menus">
				<li><a href='{{path('ouvrage_index')}}'>index</a></li>
				<li><a href='{{path('ouvrage_catalogue')}}'>Catalogue</a></li>
				<li><a href='{{path('categorieOuvrage_index')}}'>catégorie</a></li>
				<li><a href='{{path('auteur_index')}}'>liste d'auteur</a></li>
			</ul>
		</li>
		<li>
			<a class='dropdown-arrow' href=''>Gestion des Emprunts</a>
			<ul class="sub-menus">
        		<li><a href='{{path('emprunt_index')}}'>liste des emprunts</a></li>
				<li><a href='{{path('emprunt_mesEmprunts')}}'>mes emprunts</a></li>
			</ul>
		</li>	
		<li><a href='{{path('forum_index')}}'>Forum</a></li>
		<li>
			<a class='dropdown-arrow' href="#">Boutique</a>
			<ul class="sub-menus">
				<li><a href="{{path('boutique_liste')}}">liste des Produit</a></li>
				<li><a href="{{path('commande_mesCommande')}}">mes Achats</a></li>
			</ul>
		</li>
		<li>
			<a class='dropdown-arrow' href="#">{{ app.user.username }}</a>
			<ul class='sub-menus'>	
				<li><a href="{{ path('membre_affichage', {'id': app.user.id }) }}">Mon Profil</a></li>
				<li><a href='{{path('messagePrive_messagerie')}}'>Messagerie</a></li>
				<li><a href="{{ path('app_logout') }}">Se déconnecter</a></li> 
			</ul>
		</li>
	</ul>
</nav>