{% extends 'base.html.twig' %}

{% block title %}Hello secretariatController!{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>E-mail</th>
                <th>password</th>
                <th>role</th>
                <th>Date d'Embauche</th>
                <th>Poste</th>
            </tr>
        </thead>
        <tbody>
            {% for secretariat in secretariats %}
                <tr>
                    <td>{{secretariat.id}}</td>
                    <td>
                        <img src="{{ vich_uploader_asset(secretariat, 'imageFile') }}" class="col-md-6 float-md-end mb-3 ms-md-3" style="width: 100px; height: 100px; object-fit: cover;" alt="...">
                    </td>
                    <td>{{ secretariat.nom }}</td>
                    <td>{{ secretariat.prenom }}</td>
                    <td>{{ secretariat.email }}</td>
                    <td>{{ secretariat.password }}</td>
                    <td>
                        {% for role in secretariat.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>{{ secretariat.dateEmbauche | date('d/m/Y') }}</td>
                    <td>{{ secretariat.poste}}</td>
                    
                    <td>
                        <a href="{{ path('secretariat_affichage', {'id': secretariat.id}) }}" class="btn btn-secondary">lire</a>
                        <a href="{{ path('secretariat_edition', {'id': secretariat.id}) }}" class="btn btn-secondary">editer</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('secretariat_nouveau') }}" class="btn" >Creer Nouveau secretariat</a>
{% endblock %}
